html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  /* background-color: #485564; */
  overflow: auto;
  height: 100%;
  width: 100%;
}

main {
  background: #485564;
  color: #fafafa;
}

.icons-social a {
  color: #fafafa;
}

.icons-social a svg path {
  fill: #fafafa;
}
